<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div>
        <h4 class="info"><i class="fa fa-star"></i> Level {{ CalcApp.levelDisplay }}</h4>
        <span class="current-score-title"><i class="fa fa-graduation-cap"></i> Punkte</span>
        <span class="current-score">{{ CalcApp.totalScoreDisplay }}</span>
      </div>
      <ol class="carousel-indicators">
        <li class="" ng-class="{'active': CalcApp.levelDisplay === 1}"></li>
        <li class="" ng-class="{'active': CalcApp.levelDisplay === 2}"></li>
        <li class="" ng-class="{'active': CalcApp.levelDisplay === 3}"></li>
        <li class="" ng-class="{'active': CalcApp.levelDisplay === 4}"></li>
        <li class="" ng-class="{'active': CalcApp.levelDisplay === 5}"></li>
      </ol>

  </div>
  
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right">

    <span class="score" ng-if="CalcApp.score"><i class="fa fa-asterisk"></i> {{ CalcApp.score }}</span>
    


    <button type="button" class="btn btn-large btn-info font-large" style="margin-top:4px" ng-click="next()" ng-if="CalcApp.validated === true"><i class="fa fa-paper-plane-o"></i>  Weiter!</button>

    <button type="button" class="btn btn-large btn-success font-large" style="margin-top:4px" ng-click="validateResults()" ng-if="CalcApp.validated === false"><i class="fa fa-check-square-o"></i> Auflösung</button>

  </div>

</div>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation" ng-repeat="calc in CalcApp.calculation.entries">

    <div class="panel panel-primary" ng-class="{'panel-warning': calc.check === false, 'panel-success': calc.check === true}">
      <div class="panel-heading">
        <h3 class="panel-title">Rechnung {{ $index + 1 }}
        
        </h3>
      </div>
      <div class="panel-body">
        
        <span class="calc-number info">{{ calc.num1 }}</span> 
        <span ng-if="calc.operation === 0" class="badge badge-lg badge-success">+</span> 
        <span ng-if="calc.operation === 1" class="badge badge-lg badge-error">-</span> 
        <span class="calc-number info">{{ calc.num2 }}</span> <span class="badge badge-lg badge-block">=</span> 
        <input type="number" class="form-control input-lg input-inline" placeholder="??" ng-model="calc.result" ng-class="{'input-error': calc.check === false}" />
        

      </div>
    </div>  
    
  </div><!--/span-->
  
</div>


<script type="text/ng-template" id="myModalContent.html">
    <form role="form" name="form1" novalidate>
      <div class="modal-header">
          <h3 class="modal-title">Ein neuer Mitspieler!</h3>
      </div>
      <div class="modal-body">
          <input type="text" class="form-control" placeholder="Bitte gib deinen Namen ein!" ng-model="playerName" required/>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok(form1.$valid)" ng-disabled="form1.$invalid">Weiter</button>
      </div>
  </form>
</script>
