<div class="jumbotron">
    <h2> Hallo <span>Rechen-Kaiser!</span></h2>
    <p>Löse die verschiednene Rechnungen und sammle Punkte!!!</p>
</div>

<div class="row">
	<div class="col-12">

		<form name="form1" class="form-inline" role="form" novalidate>
		  <div class="form-group" style="padding-left:20px">
		    <label class="sr-only" for="playerName">Spielername</label>
		    <input type="text" class="form-control input-lg" id="playerName" placeholder="Gib deinen Namen ein!" required ng-model="playerName" style="text-align:left"/>
		  </div>
		  <div class="pull-right" style="padding-right:20px">
		  	<button type="button" class="btn btn-lg btn-info" ng-click="ok(form1.$valid)" ng-disabled="form1.$invalid">Weiter zum Spiel!</button>

		  </div>
		  
		</form>

	</div>

</div>