<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation">
    <h3>Rechnung 1</h3>

    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg badge-success">+</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg">=</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" placeholder="??"/>
      </div>
    </div>
    
  </div><!--/span-->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation">
    <h3>Rechnung 2</h3>

    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg badge-error">-</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg">=</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" placeholder="??"/>
      </div>
    </div>
   
  </div><!--/span-->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation">
    <h3>Rechnung 3</h3>

    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg badge-error">-</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg">=</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" placeholder="??"/>
      </div>
    </div>
  </div><!--/span-->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation">
    <h3>Rechnung 4</h3>

    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg badge-success">+</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg">=</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" placeholder="??"/>
      </div>
    </div>

  </div><!--/span-->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation">
    <h3>Rechnung 5</h3>

    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg badge-error">-</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg">=</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" placeholder="??"/>
      </div>
    </div>
    
  </div><!--/span-->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 calculation">
    <h3>Rechnung 6</h3>

    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg badge-success">+</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" value="4"/>
      </div>
      <div class="col-xs-2 center vcenter">
        <span class="badge badge-lg">=</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control input-lg" placeholder="??"/>
      </div>
    </div>
    
  </div><!--/span-->
</div>