body {
  min-height: 1000px;
  padding-top: 70px;
}


.full-container {
  padding: 0 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  max-width:100%;
}

.navbar-brand {
  font-size: 16pt;
}

.jumbotron {
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.jumbotron h2 {
  margin-top:10px;
  font-size: 28px;
}

.jumbotron p {
  font-size: 18px;
}

.input-inline {
  display: inline;
}

.input-lg {
  height: 64px;
  padding: 6px 5px;
  font-size: 24pt;
  line-height: 1.33;
  border-radius: 6px;
  text-align: center;
  width: 100px;
  vertical-align: super;
}

.input-lg-full {
  height: 64px;
  padding: 6px 5px;
  font-size: 24pt;
  line-height: 1.33;
  border-radius: 6px;
  text-align: center;
  width: 100%;
  vertical-align: super;
}

.center {
  text-align: center
}

.vcenter {
  margin-top:20px;
}

.badge-block {
  margin-right: 30px;
}

.badge {
  vertical-align: super;
}

.badge-lg{
  font-size:22px;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-error {
  background-color: #d9534f;
}

.calculation {

}

.check-calc {
  padding-right: 20px;
}

.font-large {
  font-size:16pt;
}

.calc-number {
  height: 64px;
  padding: 6px 5px;
  font-size: 34pt;
  font-weight: bold;
  line-height: 1.33;
  border-radius: 6px;
  text-align: center;
  display:inline-block;
  width: 80px;
}

.success {
  color: #13987e;
}

.info {
  color: #2383c4;
}

.primary {
  color: #1e2a36;
}

.bold {
  font-weight: bold;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: initial;
  left: 0;
  text-align: inherit;
}

.carousel-indicators .active {
  background-color:black;
}

.carousel-indicators li {
  border: 1px solid black;
}

.account-name {
  font-size: 16pt;
}

hr {
  margin-top: 7px;
  margin-bottom: 5px;
}

.page-icon {
  margin-top:12px;
}

.input-error {
  background-color:#f2dede;
  border: solid 1px #f2dede;
}

.input-correct {
  background-color:#d6e9c6;
  border: solid 1px #d6e9c6;
}

.indicator-success {
  font-size:32px;
  color: #13987e;
}

.indicator-error {
  font-size:32px;
  color: #df2e1b;
}


.score {
  font-size: 20pt;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 20px;
}

.form-group-full {
  width:100%;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 20px;
}

.form-control-full {
  width:100%;
}

h4.info {
  display: inline-block;
}

.current-score-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: medium;
}

.current-score {
  margin-left: 5px;
  font-weight: bold;
  color: #5cb85c;
  font-size: large;
}