body {
  min-height: 1000px;
  padding-top: 70px;
}


.full-container {
  padding: 0 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  max-width:100%;
}

.navbar-brand {
  font-size: 16pt;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-inline {
  display: inline;
}

.input-lg {
  height: 64px;
  padding: 6px 5px;
  font-size: 24pt;
  line-height: 1.33;
  border-radius: 6px;
  text-align: center;
  width: 100px;
  vertical-align: super;
}

.center {
  text-align: center
}

.vcenter {
  margin-top:20px;
}

.badge-block {
  margin-right: 30px;
}

.badge {
  vertical-align: super;
}

.badge-lg{
  font-size:22px;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-error {
  background-color: #d9534f;
}

.calculation {
  padding-bottom: 20px;
  
}

.check-calc {
  padding-right: 20px;
}

.font-large {
  font-size:24pt;
}

.calc-number {
  height: 64px;
  padding: 6px 5px;
  font-size: 34pt;
  font-weight: bold;
  line-height: 1.33;
  border-radius: 6px;
  text-align: center;
  display:inline-block;
  width: 100px;
}

.success {
  color: #13987e;
}

.info {
  color: #2383c4;
}

.primary {
  color: #1e2a36;
}

.bold {
  font-weight: bold;
}

.carousel-indicators {
  position: relative;
  bottom: 0px;
}

.carousel-indicators .active {
  background-color:black;
}

.carousel-indicators li {
  border: 1px solid black;
}

.account-name {
  font-size: 20pt;
}

